body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #007bff;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 95%;
  height: 80px;
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

#editor {
  height: 300px;
  margin: 10px;
  border: 1px solid #ccc;
}

.dark {
  background: #121212;
  color: white;
  }
